[Unit]
Description=Matsflix
After=graphical-session.target

[Service]
ExecStart=/home/matsj/matsflix/nvm-start.sh
WorkingDirectory=/home/matsj/matsflix
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=myapp

[Install]
WantedBy=default.target