[Unit]
Description=GullTV
After=graphical-session.target

[Service]
ExecStart=/home/gulltv/gulltv/nvm-start.sh
WorkingDirectory=/home/gulltv/gulltv
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=gulltv

[Install]
WantedBy=default.target