[Unit]
Description=Matsflix
After=network.target

[Service]
ExecStart=/home/matsj/matsflix/nvm-start.sh
WorkingDirectory=/home/matsj/matsflix
Restart=always
User=matsj
Environment=NODE_ENV=production
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=myapp

[Install]
WantedBy=multi-user.target